<div class="columns" style="width:15% !important;">
    <div class="widget">
        <h6>Quick links</h6>
        <ul class="quick_links">
            <li><a href="/world">World news</a></li>
            <li><a href="/science">Science</a></li>
            <li><a href="/entertainment">Entertainment</a></li>
            <li><a href="/technology">Technology</a></li>
            <li><a href="/health">Health</a></li>
            <li><a href="/business">Business</a></li>
            <li><a href="/sports">Sports</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>