<div id="header">
        <div id="header-top">
            <h2 id="logo"><a href="/"></a></h2>

{#            <div class="nav-container">#}
{#                <ul id="menu">#}
{#                    <li><a href="/">Home</a></li>#}
{#                    <li><a href="/admin">Post Page</a></li>#}
{#                    <li class="sub"><a href="#">Dropdowns</a>#}
{#                        <ul>#}
{#                            <li class="sub"><a href="#">Item one</a></li>#}
{#                            <li class="sub"><a href="#">Item two</a></li>#}
{#                            <li class="sub"><a href="#">Item three</a></li>#}
{#                        </ul>#}
{#                    </li>#}
{#                    <li><a href="full-width.html">Fullwidth</a></li>#}
{#                    <li><a href="archives.html">Archives</a></li>#}
{#                    <li><a href="contact.html">Contact</a></li>#}
{#                </ul>#}
{#            </div>#}
{#            <form method="get" id="searchform" action="#" name="searchform">#}
{#                <input type="text" class='rounded text_input' value="" name="s" id="s"/>#}
{#                <input type="submit" class="button ie6fix" id="searchsubmit" value="&rarr;"/>#}
{#            </form>#}
        </div>
        <div id="header-bottom">
            <div class="category-container">
                <ul class="sf-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/world">World news</a></li>
                    <li><a href="/sports">Sports</a></li>
{#                    <li><a href="#">Dropdown</a>#}
{#                        <ul>#}
{#                            <li><a href="#">Drop Menu 1</a></li>#}
{#                            <li class="current"><a href="#">Drop Menu 2</a>#}
{#                                <ul>#}
{#                                    <li class="current"><a href="#">Sidemenu 1</a></li>#}
{#                                    <li><a href="#">Sidemenu 2</a></li>#}
{#                                    <li><a href="#">Sidemenu 3</a></li>#}
{#                                </ul>#}
{#                            </li>#}
{#                            <li><a href="#">Drop Menu 3</a></li>#}
{#                            <li><a href="#">Drop Menu 4</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li><a href="/entertainment">Entertainment</a></li>
                    <li><a href="health">Health</a></li>
                    <li><a href="/weather">Weather</a></li>
                    <li><a href="/technology">Technology</a></li>
                    <li><a href="/science">Science</a></li>
                </ul>
            </div>
{#            <div class="subscriber_widget"><span class="twitter_count"><a href="#">2552 followers</a></span> <span#}
{#                    class="feed"><a href="#">1453 Subscribers</a></span> <span class="email"><a href="#">Subscribe via#}
{#                email</a></span></div>#}
        </div>
    </div>