<div id="sidebar">
        <div class="widget_nostyle">
          <ul class="sponsors">
            <li><a href="#"><img src="{{ STATIC_URL }}css/images/cc_260x120_v3.gif" alt="" /></a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}css/images/aj_125x125_v4.gif" alt="" /></a></li>
            <li><a href="#"><img src="{{ STATIC_URL }}css/images/tf_125x125_v5.gif" alt="" /></a></li>
          </ul>
          <div class="clear"></div>
        </div>
        <div class="widget">
          <div id="tabs">
            <ul id="tab-items">
              <li><a href="#tab-one">Popular</a></li>
              <li><a href="#tab-two">Recent</a></li>
              <li><a href="#tab-three">Comments</a></li>
              <li><a href="#tab-four">Tags</a></li>
            </ul>
            <div class="tabs-inner">
              <div id="tab-one"  class="tab">
                <ul>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img width="45" height="45" alt=""  src="{{ STATIC_URL }}post-images/obama_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">US Secret Service probes "Obama's assassination" ...</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span>  </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img width="45" height="45" alt=""  src="{{ STATIC_URL }}post-images/baidu_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Baidu and Microsoft tie-up for English search in China</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 21, 2011</span> <span class="seperator">,</span> </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img width="45" height="45" alt=""  src="{{ STATIC_URL }}post-images/djokovic_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Djokovic beats Nadal to win maiden Wimbledon title</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 1, 2011</span> <span class="seperator">,</span>  </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img width="45" height="45" alt=""  src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Dropbox Bug Made Accounts Accessible Without Passwords</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 12, 2011</span> <span class="seperator">,</span>  </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img width="45" height="45" alt=""  src="{{ STATIC_URL }}post-images/sony_hacker_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Sony hacker now on Facebook payroll</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> </div>
                  </li>
                </ul>
              </div>
              <div class="tab tab-recent" id="tab-two">
                <ul>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img alt=""  src="{{ STATIC_URL }}post-images/samsung_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Samsung seeks ban on sale of key Apple products in US</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> <span class="comment_number"> <a href="#">3 Comments</a> </span> </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img alt=""  src="{{ STATIC_URL }}post-images/fast-food_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Big fast-food chains lag rivals in taste</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> <span class="comment_number"> <a href="#">3 Comments</a> </span> </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img alt=""  src="{{ STATIC_URL }}post-images/hybrid_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Toyota recalls 110,000 hybrid cars on safety concerns</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> <span class="comment_number"> <a href="#">3 Comments</a> </span> </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img alt=""  src="{{ STATIC_URL }}post-images/sony_hacker_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Sony hacker now on Facebook payroll</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> <span class="comment_number"> <a href="#">3 Comments</a> </span> </div>
                  </li>
                  <li>
                    <div class="tab-thumb"> <a class="thumb" href="#"><img alt=""  src="{{ STATIC_URL }}post-images/france_prez_thumb.jpg" /></a></div>
                    <h3 class="entry-title"><a class="title" href="#">Sarkozy involved in scuffle during handshake tour</a></h3>
                    <div class="entry-meta entry-header"> <span class="published">June 7, 2011</span> <span class="seperator">,</span> <span class="comment_number"> <a href="#">3 Comments</a> </span> </div>
                  </li>
                </ul>
              </div>
              <div class="tab tab-comments" id="tab-three">
                <ul>
                  <li class="clearfix"> <a href="#"><img width="45" height="45" class="avatar" src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt="" /></a> <span><a href="#"><b>Lady Gaga</b>: Nullam id dolor id nibh ultricies vehicula ut id elit....</a></span> </li>
                  <li class="clearfix"> <a href="#"><img width="45" height="45" class="avatar" src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt="" /></a> <span><a href="#"><b>Nicholas Cage</b>: Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur bland...</a></span> </li>
                  <li class="clearfix"> <a href="#"><img width="45" height="45" class="avatar" src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt="" /></a> <span><a href="#"><b>A.R Rahman</b>: Sed posuere consectetur est at lobortis. Aenean eu Pellentes...</a></span> </li>
                  <li class="clearfix"> <a href="#"><img width="45" height="45" class="avatar" src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt="" /></a> <span><a href="#"><b>Tiger Woods</b>: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget ...</a></span> </li>
                  <li class="clearfix"> <a href="#"><img width="45" height="45" class="avatar" src="{{ STATIC_URL }}post-images/dropbox_thumb.jpg" alt="" /></a> <span><a href="#"><b>Admin</b>: Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget ...</a></span> </li>
                </ul>
              </div>
              <div class="tab tab-tags clearfix" id="tab-four"> <a  href="#">Business</a> <a  href="#">World</a> <a  href="#">Sports</a> <a  href="#">Travel</a> <a  href="#">Health</a> <a  href="#">Entertainment</a> <a  href="#">Weather</a> <a  href="#">Hot Gossip</a> <a  href="#">Reports</a> <a  href="#">Obama</a></div>
            </div>
          </div>
        </div>
        <div class="widget">
          <h2 class="title clearfix"><span>My latest Tweets</span></h2>
          <div class="widget-content">
            <ul id="twitter_widget">
              <li>{{ tweets }}
                <p>New template Frame IT set to roll out<small>15 June</small></p>
              </li>
              <li>
                <p>New premium blogger template 'Milkyway' available on themeforest <a class="twitter-timeline-link" href="#">themeforest.net/item/milkyway/…</a><small>17 May</small></p>
              </li>
              <li>
                <p>New premium template Milkyway <a class="twitter-timeline-link" href="#">http://goo.gl/fb/Z895R</a><small>17 May</small></p>
              </li>
              <li>
                <p>Almost finished getting the new theme ready for release MILKYWAY<small>15 May</small></p>
              </li>
            </ul>
          </div>
          <div class="follow"><a href="#">Follow On Twitter....</a></div>
        </div>
        <div class="widget">
          <h2 class="title clearfix"><span>Video widget</span></h2>
          <div class="widget-content">
            <iframe src="http://player.vimeo.com/video/17535548?title=0&amp;byline=0&amp;portrait=0" width="252" height="142" frameborder="0"></iframe>
          </div>
        </div>
      </div>
